* {
  margin: 0;
  padding: 0;
}

:root {
  --first-color-text: #434455;
  --second-color-text: #4d5ae5;
  --color-white: white;
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --logo-studio: #2e2f42;
  --background-color1: #2e2f42;
  --background-color2: #f4f4fd;
  --bg-color: #ffffff;
  --border-bottom-color: #e7e9fc;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--first-color-text);
  /* Body */

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  background-color: var(--color-white);
}
.header {
  background-color: var(--color-white);
  border-bottom: 1px solid var(--border-bottom-color);
}

.header-div {
  display: flex;
}

img {
  display: block;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.list {
  list-style: none;
}

.list-flex-gap {
  display: flex;
  gap: 40px;
}

.list-s2-flex-gap {
  display: flex;
  gap: 24px;
}

.punkt-listy {
  width: calc((100% - 72px) / 4);
}

.punkt-listy3 {
  width: calc((100% - 48px) / 3);
}

.h3-list-margin {
  margin-bottom: 8px;
}

.s3-padding {
  padding-bottom: 120px;
}

.s3-h2-margin {
  margin-bottom: 72px;
}

.main-menu {
  display: flex;
  gap: 40px;
}
.menu-padding {
  padding: 24px 0;
}

a {
  text-decoration: none;
}
button {
  color: var(--color-white);
  background-color: var(--iris);
}
.button-order-service {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-white);
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: var(--second-color-text);
  border-radius: 4px;
}

.button-order-service:active {
  background-color: var(--ocean);
}

.button-order-service:focus {
  background-color: var(--ocean);
}

a:hover {
  color: var(--ocean);
}
a:active {
  color: var(--ocean);
}
a:focus {
  color: var(--ocean);
}
button:hover {
  color: var(--color-white);
  background-color: var(--ocean);
}
.link {
  text-decoration: none;
  font-weight: 500;
  color: var(--logo-studio);
}

.address {
  font-style: normal;
  font-weight: 400;
}

.link-address {
  color: var(--first-color-text);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--logo-studio);
}
.highlight {
  color: var(--logo-studio);
}
.highlight-footer {
  color: var(--background-color2);
}
.logo {
  margin-right: 76px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--second-color-text);
}

.logo-span {
  color: var(--logo-studio);
}
.main-index-section-first {
  background-color: var(--background-color1);
  padding: 188px 0;
}
.index-section-first-header {
  max-width: 496px;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-white);
}

.heading-values {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--logo-studio);
}

.header-section-three-index {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--background-color1);
}

.header-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.section-four-background {
  background-color: var(--background-color2);
}

.list-section-four-background {
  background-color: var(--color-white);
}

.section-four-background-fff {
  background-color: var(--color-white);
}

.header-section-four-index {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--background-color1);
}

.footer-index {
  background-color: var(--background-color1);
}

.footer-p {
  line-height: 1.5;
  color: var(--background-color2);
  letter-spacing: 0.02em;
}

.footer-portfolio {
  background-color: var(--background-color1);
}

.portfoliobutton {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--second-color-text);
  background-color: var(--background-color2);
  cursor: pointer;
}

.portfoliobutton:hover {
  color: var(--color-white);
  background-color: var(--ocean);
}

.portfoliobutton:focus {
  color: var(--color-white);
  background-color: var(--ocean);
}

.portfolio-p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--first-color-text);
}

.specialist-item {
  background-color: var(--bg-color);
}

.image:hover {
  cursor: pointer;
}

.h1-s1 {
  max-width: 496px;
}

.section2 {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
