:root {
  --first-color-text: #434455;
  --second-color-text: #4d5ae5;
  --color-white: white;
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --logo-studio: #2e2f42;
  --background-color1: #2e2f42;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--SLATE, #434455);
  /* Body */

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  background-color: var(--color-white);
}

header {
  background-color: var(--color-white);
}

.list {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  color: var(--color-white);
  background-color: var(--iris);
}

.button-index-first {
  color: var(--second-color-text);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

a:hover {
  color: var(--ocean);
}

a:active {
  color: var(--ocean);
}

a:focus {
  color: var(--ocean);
}

button:hover {
  color: var(--color-white);
  background-color: var(--ocean);
}

.link {
  text-decoration: none;
  font-weight: 500;
  color: var(--logo-studio);
}

.link-address {
  color: var(--first-color-text);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--logo-studio);
}

.highlight {
  color: #2e2f42;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--second-color-text);
}

.address {
  font-style: normal;
}

.logo-span {
  color: var(--logo-studio);
}

.main-index-section-1 {
  background-color: var(--background-color1);
}

.index-section-first-header {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
